<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {% comment %} 循环获取的是每一个字段 {% endcomment %}
        {% for field in form%}
        <p>{{field.label}}:{{field}}</p>
        <span style="color:red;">{{ field.errors.0}}</span>
        {% endfor %}
        <input type="submit" value="提交">
    </form>
</body>
</html>